# ==============================
# C# things
# ==============================

bin/
obj/
appsettings.json

# ==============================
# Windows things
# ==============================

Thumbs.db
Desktop.ini
$RECYCLE.BIN/